* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100% !important;
  display: inline-block;
  font-family: sans-serif;
}
.container .navbar {
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 99;
  height: 70px !important;
}
.container .navbar .icon {
  width: 100px;
  overflow: hidden;
}
.container .navbar .icon img {
  width: 130%;
  margin-left: -14%;
}
.container .navbar .links {
  display: flex;
}
.container .navbar .links div {
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.container .navbar .links div a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  width: 100px !important;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .navbar .links div a:hover {
  color: rgb(1, 148, 197);
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px 5px white;
}
.container .navbar .country-menu-btn,
.container .navbar .navbar-menu-btn,
.container .navbar .country-menu,
.container .navbar .navbar-menu {
  display: none;
}
.container .navActive {
  border-bottom: 2px solid white !important;
}
.container .countries {
  display: inline-block;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -100px;
  gap: 20px;
  justify-content: center;
}
.container .countries a {
  color: white;
  text-decoration: none;
  width: 380px;
  height: 140px;
  background-color: red;
  border-radius: 6px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}
.container .countries a:hover {
  background-color: rgb(1, 148, 197) !important;
  box-shadow: 0px 0px 8px 2px black;
}

.country-clubs {
  width: 350px;
  border: 1px solid rgb(255, 16, 16);
  border-radius: 10px;
  position: fixed;
  top: 80px;
  left: 80px;
  padding: 10px 10px;
  padding-bottom: 10px;
}
.country-clubs #title {
  font-size: 30px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 40px;
}
.country-clubs .country {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 22px;
  margin-top: 20px;
}
.country-clubs .country div {
  width: 150px;
  height: 100%;
}
.country-clubs .country h3 {
  font-weight: 100 !important;
  margin: 10px 0px !important;
  width: 100%;
  padding: 2px 2px;
  transition: all 0.3s ease;
}
.country-clubs .country h3 a {
  text-decoration: none;
  margin-top: 20px !important;
}
.country-clubs .country h3:hover {
  border-radius: 5px;
  padding-left: 10px;
  background-color: red;
}
.country-clubs .country h3:hover a {
  color: white;
}

.nav {
  width: 805px;
  background-color: white;
  position: fixed;
  left: 480px;
  top: 70px;
}
.nav h2 {
  text-align: center;
  color: red;
  line-height: 50px;
  padding-top: 30px;
  font-size: 22px;
}

.latest-transfers {
  display: inline-block;
  width: 800px;
  margin-left: 480px;
  margin-top: 220px;
}
.latest-transfers p {
  text-align: center;
  margin: 50px 0px;
}

.players {
  width: 100%;
}
.players tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.players tr td {
  width: 140px;
  margin-bottom: 4px;
  padding: 10px 0px;
  font-size: 18px;
  border-bottom: 2px solid rgb(255, 0, 0);
  text-align: center;
}

.playerss {
  width: 100%;
}
.playerss tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.playerss tr td {
  width: 200px;
  margin-bottom: 4px;
  padding: 10px 0px;
  font-size: 18px;
  border-bottom: 2px solid rgb(255, 0, 0);
  text-align: center;
}

.top-players {
  width: 100%;
}
.top-players tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top-players tr td {
  width: 100px;
  margin-bottom: 4px;
  font-size: 18px;
  border-bottom: 2px solid rgb(255, 0, 0);
  text-align: center;
  padding: 10px 0px;
}

.latest-transfers {
  display: inline-block;
  width: 800px;
  margin-left: 480px;
  margin-top: 220px;
}
.latest-transfers p {
  text-align: center;
}

.content {
  max-width: 800px;
  margin-left: 480px;
  margin-top: 200px;
  padding-bottom: 100px;
}
.content hr {
  margin: 20px 0px;
}
.content p,
.content b {
  margin-top: 20px;
}

.content-nav {
  border-top: 2px solid rgb(255, 0, 0);
  border-bottom: 2px solid rgb(255, 0, 0);
  width: 100%;
}
.content-nav tr {
  display: flex;
  justify-content: space-between !important;
}
.content-nav tr td {
  width: 140px;
  color: red;
  text-align: center;
}

.clubs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 20px;
}
.clubs .club {
  width: 170px;
  height: 50px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  transition: all 0.2s ease-in-out;
}
.clubs .club:hover {
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  border-left: 4px solid red;
}
.clubs .club a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(58, 74, 219);
  font-style: 8px;
  font-weight: 550 !important;
  letter-spacing: 1px;
  word-spacing: 4px;
}
.clubs .club a:hover {
  color: red !important;
}
.clubs .club a img {
  width: 55px;
}

.stats {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.stats div a {
  width: 350px;
  text-decoration: none;
  height: 80px;
  background-color: rgb(7, 182, 240);
  margin-bottom: 20px;
  transition: all 0.4s ease;
  border-radius: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
.stats div a:hover {
  box-shadow: 0 0 20px 5px rgb(254, 175, 175);
  border-radius: 15px 0;
}

.about-me {
  line-height: 25px;
  text-align: left;
}

.footer {
  width: 100%;
  background-color: red;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding-left: 80px;
}
.footer a {
  margin-right: 50px;
  color: white;
  text-decoration: none;
  word-spacing: 8px;
  padding: 4px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.footer a div {
  display: flex;
  align-items: center;
}
.footer a:hover {
  background-color: rgb(7, 182, 240) !important;
  box-shadow: 0px 0px 10px 2px rgba(104, 210, 245, 0.63);
}

.state-footer {
  position: fixed;
  bottom: 0px;
}

@media (max-width: 576px) {
  .container {
    width: 100% !important;
    overflow: hidden;
    padding-bottom: 70px !important;
  }
  .container p {
    font-size: 10px !important;
    margin: 25px 0px !important;
  }

  .country-menu-btn,
.navbar-menu-btn {
    display: block !important;
    position: absolute;
    width: 40px;
    height: 40px;
  }

  .country-menu-btn,
.navbar-menu-btn {
    color: white !important;
    font-size: 22px;
    margin-top: 0px;
  }

  .country-menu-btn div,
.navbar-menu-btn div {
    width: 30px;
    height: 4px;
    margin-bottom: 8px;
    border: 1px solid white !important;
    background-color: white;
    transition: all 0.5s ease;
  }

  .line11 {
    transform: translateY(12px) rotate(45deg);
  }

  .line22 {
    opacity: 0;
  }

  .line33 {
    transform: translateY(-12px) rotate(-45deg);
  }

  .country-menu,
.navbar-menu {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
    transition: all 0.5s ease;
    height: 80vh;
    top: 76px;
    position: absolute;
  }
  .country-menu h3,
.navbar-menu h3 {
    margin: 5px 0px;
  }
  .country-menu h3 a,
.navbar-menu h3 a {
    text-decoration: none;
    border-bottom: 2px solid black;
    font-size: 20px !important;
    border-radius: 20px !important;
    padding: 0px 12px !important;
    color: white;
  }
  .country-menu h3 a:hover,
.navbar-menu h3 a:hover {
    background-color: red;
  }

  .navbar-menu {
    right: -100%;
  }
  .navbar-menu h3 {
    margin: 10px 0px;
  }

  .country-menu {
    left: -100%;
  }

  .country-menu.active {
    background-color: rgb(1, 148, 197);
    left: 0px;
  }

  .navbar-menu {
    right: -100%;
  }

  .navbar-menu.active {
    background-color: red;
    right: 0px;
  }

  .country-menu-btn {
    left: 20px;
  }

  .navbar-menu-btn {
    right: 20px;
  }

  .country-clubs {
    background-color: black;
    display: none;
  }

  .nav {
    position: sticky !important;
    width: 70% !important;
    text-align: center !important;
    left: 0px !important;
    display: block !important;
    margin: 0 auto !important;
  }
  .nav .content-nav {
    width: 100% !important;
    left: 0;
  }
  .nav h2 {
    width: 100%;
    text-align: center !important;
  }

  .country {
    display: none !important;
  }

  .content {
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 100px !important;
    padding: 0px 5px;
  }
  .content h4 {
    text-align: center;
    padding: 0px 10px;
  }
  .content p,
.content a,
.content b {
    text-align: center;
    padding: 0px 30px;
    width: 100% !important;
  }
  .content .clubs {
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
    padding-bottom: 40px;
  }
  .content .clubs .club {
    width: 150px !important;
    padding: 0px;
  }
  .content .clubs .club a {
    padding: 0px !important;
  }

  .latest-transfers {
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 100px !important;
  }
  .latest-transfers .countries {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    gap: 40px !important;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .latest-transfers .countries a {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    font-size: 30px;
  }
  .latest-transfers hr {
    display: none;
  }

  .navbar {
    width: 100%;
    justify-content: space-around;
  }

  .links {
    display: none !important;
  }

  .footer {
    position: fixed;
    bottom: 0px;
  }
  .footer a {
    font-size: 15px;
    width: 500px !important;
  }
  .footer a div {
    display: flex;
    align-items: center;
  }
  .footer a div i {
    font-size: 22px;
  }

  .nav {
    width: 100% !important;
  }

  .content-nav {
    position: sticky !important;
    left: 0 !important;
    margin: 0 auto !important;
  }

  .players {
    gap: 0px !important;
  }
  .players tr {
    flex-wrap: nowrap !important;
  }
  .players tr td {
    width: 50px !important;
    font-size: 11px !important;
  }

  .top-players tr td {
    width: 60px !important;
    font-size: 13px !important;
  }

  .playerss {
    gap: 0px !important;
  }
  .playerss tr {
    flex-wrap: nowrap !important;
  }
  .playerss tr td {
    width: 100px !important;
    font-size: 11px !important;
  }

  .stats {
    margin-top: 150px !important;
    gap: 30px;
  }
  .stats div {
    width: 90% !important;
  }
}
@media (min-width: 1450px) {
  .content {
    max-width: 1000px !important;
    margin-left: 35%;
  }
  .content .clubs {
    width: 100%;
  }
  .content .clubs .club {
    width: 200px;
    margin: 0px 30px;
  }

  .nav {
    left: 35%;
    width: 1000px;
  }

  .latest-transfers {
    margin-left: 35%;
    width: 1000px;
  }

  .top-players tr td {
    width: 150px;
  }
}/*# sourceMappingURL=main.css.map */