{%extends "header.html"%}
  {%block content%}
   <div class="nav">
        <h2>– PLAYERS –</h2>
        <table class="content-nav">
            <thead>
              <tr>

                <td>#player</td>
                <td>club</td>
                <td>transfer value, <br> mill. euro</td>
              </tr>
            </thead>
          </table>
    </div>
    <div class="content">
        <table class="playerss">
          <tr>
            <td>1 {{i.ism}}</td>
            <td>{{i.club}}</td>
            <td>{{i.tr_narx}}</td>
          </tr>

          
          </table>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta sequi quia eos cupiditate rerum accusantium odit enim, expedita, architecto error dignissimos voluptatibus. Nisi illo, maiores fugit amet neque eveniet!</p>
      </div>
      {%endblock%}