{%extends "header.html"%}
    {%block content%}
      <div class="nav">
          <h2>– TRANSFER RECORDS –</h2>
          <table class="content-nav">
            <thead>
              <tr>
                <td>#player</td>
                <td>from</td>
                <td>to</td>
                <td>
                  transfer fee, <br />
                  mill. euro
                </td>
                <td>
                  season
                </td>
              </tr>
            </thead>
          </table>
        </div>
      <div class="latest-transfers">
        <table class="top-players">
          {%for i in transfer_r%}
          <tr>
            <td>1. {{i.ism}}</td>
            <td>{{i.eski}}</td>
            <td>{{i.yangi}}</td>
            <td>{{i.tax_narx}}</td>
            <td>{{i.mavsum}}</td>
          </tr>
          {%endfor%}
        </table>
        <hr>
        <p>It is a list of the most expensive transfers of all time. The minimum transfer value is 50 million euro.</p>
      </div>
    {%endblock%}
